
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/about.js
.next/server/pages/contact.js
.next/server/pages/gallery.js
.next/server/pages/index.js
.next/server/pages/latest.js
.next/server/pages/sponsor.js
.next/server/pages/team.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/about.js
.next/static/chunks/pages/contact.js
.next/static/chunks/pages/gallery.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/latest.js
.next/static/chunks/pages/sponsor.js
.next/static/chunks/pages/team.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/1bd2f6b76f351e1f.webpack.hot-update.json
.next/static/webpack/4ea3a8cf6e3fbca3.webpack.hot-update.json
.next/static/webpack/8b17e215ee010f64.webpack.hot-update.json
.next/static/webpack/29bc5808347b9fbc.webpack.hot-update.json
.next/static/webpack/45cf1fd24874da49.webpack.hot-update.json
.next/static/webpack/156fca9d775075c0.webpack.hot-update.json
.next/static/webpack/662c026073cebc13.webpack.hot-update.json
.next/static/webpack/e629bd30ebd34f1c.webpack.hot-update.json
.next/static/webpack/fd8466bb0c5b0e0e.webpack.hot-update.json
.next/static/webpack/webpack.1bd2f6b76f351e1f.hot-update.js
.next/static/webpack/webpack.4ea3a8cf6e3fbca3.hot-update.js
.next/static/webpack/webpack.8b17e215ee010f64.hot-update.js
.next/static/webpack/webpack.29bc5808347b9fbc.hot-update.js
.next/static/webpack/webpack.45cf1fd24874da49.hot-update.js
.next/static/webpack/webpack.156fca9d775075c0.hot-update.js
.next/static/webpack/webpack.662c026073cebc13.hot-update.js
.next/static/webpack/webpack.e629bd30ebd34f1c.hot-update.js
.next/static/webpack/webpack.fd8466bb0c5b0e0e.hot-update.js
.next/static/webpack/pages/contact.4ea3a8cf6e3fbca3.hot-update.js
.next/static/webpack/pages/contact.662c026073cebc13.hot-update.js
